fastapi
uvicorn[standard]
motor
pydantic
python-dotenv
email-validator
fastapi-clerk-auth
cryptography
pytest
python-jose
PyJWT
pytest-asyncio
motor
pymongo
mongomock
httpx 
trio
pytest
requests
google-genai==2.22.0
tzdata
pytest-cov
selenium 
webdriver-manager